################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/X-ChangeWebBackend/.vs/X-ChangeWebBackend/FileContentIndex/4af092ce-5416-4d59-b4cc-9f7324d0cbe3.vsidx
/X-ChangeWebBackend/.vs/X-ChangeWebBackend/FileContentIndex/920ffbb3-4528-4fd7-9201-0315ce2c4a82.vsidx
/X-ChangeWebBackend/.vs/X-ChangeWebBackend/FileContentIndex/aaafb129-2df4-40fe-bdf4-9bed81e7f01f.vsidx
/X-ChangeWebBackend/.vs/X-ChangeWebBackend/FileContentIndex/c22cc27f-9737-431d-acae-30c02611f49e.vsidx
/X-ChangeWebBackend/.vs/X-ChangeWebBackend/FileContentIndex/d15b04b4-504c-4bf4-a8a2-30ce3db36249.vsidx
