################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/DTOs/AuthResultDto.cs
/Application/DTOs/AuthResultDto.cs
